<!-- Flaskplay control frontend, no frills just plain HTMX/CSS/JS -->
<!-- Janky code since I don't do this often lol -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <script src="https://unpkg.com/htmx.org@2.0.6"></script>
</head>
<body>
    <div class="container">
        <h1 id="panel-banner">Control Panel/h1>

        <div class="grid">
            <button class="control-btn"
                    hx-get="/status"
                    hx-target="#status-box"
                    hx-swap="innerHTML">Check Status</button>
            <button class="control-btn"
                    hx-get="/camera"
                    hx-target="#camera-window"
                    hx-swap="innerHTML">Enable Camera</button>
        </div>

        <div id="status-box">
            {% include 'partials/status_box.html' with context %}
        </div>
    </div>
</body>
</html>
